{{ template "header.html" . }}

<section class="section">
	<div class="container">
		<h1 class="title">Browse</h1>
		{{if not .Object}}
		<h3 class="subtitle">
			<i>Object Not Found</i>
		</h3>
		{{end}}

		{{if .Object}}
		{{template "object_detail_fragment.html" .}}
		{{end}}

		{{with .Pagination}}
		{{template "pagination.html" .}}
		{{end}}
	</div>
</section>

{{ template "footer.html" }}
