{{ template "header.html" . }}

<section class="section">
	<div class="container">
		<h3 class="title">Client</h3>
		<h3 class="subtitle">Download sync client</h3>
		<div class="block">
			<a href="{{ concat "/download/gallery-sync-x86_64-linux-" (.Version) | path }}">Sync Client x86_64 Linux {{.Version}}</a>
		</div>
		<h4 class="subtitle">Configuration</h4>
		<table class="table is-fullwidth">
			<tbody>
				<tr>
					<th>API Address</th>
					<td>
						<span class="tag is-info is-light">
							{{.APIAddr}}
						</span>
					</td>
				</tr>
				<tr>
					<th>Gallery username</th>
					<td>
						<span class="tag is-info is-light">
							{{.User.Username}}
						</span>
					</td>
				</tr>
				<tr>
					<th>Gallery password</th>
					<td>
						Your login password
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</section>

{{ template "footer.html" }}
