<div id="js-error-modal" class="modal">
	<div class="modal-background"></div>
	<div class="modal-content"></div>
	<button class="modal-close is-large js-modal-close"></button>
</div>

<div id="js-content-modal" class="modal">
	<div class="modal-background"></div>
	<div class="modal-content"></div>
	<button class="modal-close is-large js-modal-close"></button>
</div>

<script src="{{ path "/static/js/utils.js" }}?V={{ V }}"></script>
<script src="{{ path "/static/js/common.js" }}?V={{ V }}"></script>

{{ range . }}
<script src="{{ path . }}?V={{ V }}"></script>
{{ end }}

</body>
</html>
