<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Gallery</title>

	<link rel="shortcut icon" href="{{ path "/static/favicon.ico" }}?V={{ V }}">
	<link rel="stylesheet" href="{{ path "/static/bulma/0.9.2/bulma.min.css" }}?V={{ V }}">
	<link rel="stylesheet" href="{{ path "/static/fa/5.15.3/css/all.min.css" }}?V={{ V }}">
	<link rel="stylesheet" href="{{ path "/static/css/style.css" }}?V={{ V }}">
</head>
<body>

<nav class="navbar is-primary">
	<div class="navbar-brand">
		<a class="navbar-item" href="{{ path "/" }}">
			<img src="{{ path "/static/img/logo.png" }}?V={{ V }}" width="100">
		</a>

		<a class="navbar-burger js-navbar-burger" data-target="#navbar-menu">
			<span></span>
			<span></span>
			<span></span>
		</a>
	</div>

	<div id="navbar-menu" class="navbar-menu">
		<div class="navbar-start"></div>

		<div class="navbar-end">
			<div class="navbar-item has-dropdown is-hoverable">
				<a class="navbar-link">
					Logged in as {{ .User.DisplayName }}
				</a>

				<div class="navbar-dropdown">
					<a class="navbar-item" href="{{ concat "/users/" (.User.ExtID.String) "/profile" | path }}">
						Profile
					</a>
					<a class="navbar-item" href="{{ path "/client" }}">
						Client
					</a>
					<a class="navbar-item" href="{{ path "/secretslist" }}">
						Secrets
					</a>
					<hr class="navbar-divider">
					<a class="navbar-item js-post-link" href="{{ path "/logout" }}" data-form="csrf={{ csrf . (path "/logout") (minutes 240)}}">
						Logout
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>
