{{ template "header.html" . }}

<section class="section">
	<div class="container">
		<h1 class="title">Search</h1>
		<form class="js-search-form" data-target="search-results" data-path="{{ path "/search" }}">
			<input type="hidden" name="fragment" value="true"/>
			<div class="tabs is-boxed js-tabs">
				<ul>
					<li class="is-active" data-target="search-form-general"><a>General</a></li>
					<li data-target="search-form-advanced"><a>Advanced</a></li>
				</ul>
			</div>
			<div class="tab-pane is-active" id="search-form-general">
				<div class="columns">
					<div class="column">
						<div class="field">
							<label class="label">Free text and tags</label>
							<div class="control has-icons-left">
								<input id="search-form-input-search" class="input is-rounded" type="text" name="search" placeholder="Search by filename and tags" autocomplete="off" maxlength="64" />
								<span class="icon is-small is-left">
									<i class="fas fa-search"></i>
								</span>
							</div>
						</div>
						{{with .TagFrequencies}}
						<label class="label">Most frequent public tags</label>
						<div class="field is-grouped is-grouped-multiline">
							{{range .}}
							<div class="control">
								<div class="tags has-addons js-search-form-tag" data-value="{{.Tag}}" data-target-id="search-form-input-search">
									<span class="tag is-dark">{{.Tag}}</span>
									<span class="tag is-info">{{.Frequency}}</span>
								</div>
							</div>
							{{end}}
						</div>
						{{end}}
					</div>

					<div class="column">
						<div class="field is-grouped">
							<div class="control">
								<label class="checkbox">
									<input type="checkbox" name="content-type" value="image" />
									Images
								</label>
							</div>
							<div class="control">
								<label class="checkbox">
									<input type="checkbox" name="content-type" value="video" />
									Videos
								</label>
							</div>
							<div class="control">
								<label class="checkbox">
									<input type="checkbox" name="content-type" value="audio" />
									Audio
								</label>
							</div>
						</div>
						<div class="field">
							<label class="label">Display results as</label>
							<div class="control">
								<label class="radio">
									<input type="radio" name="display" value="small_icons" />
									Small icons
								</label>
								<label class="radio">
									<input type="radio" name="display" value="large_icons" checked />
									Large icons
								</label>
								<label class="radio">
									<input type="radio" name="display" value="large_cards" />
									Large cards
								</label>
							</div>
						</div>
						<div class="field">
							<label class="label">Order results by</label>
							<div class="control">
								<div class="select">
									<select name="order_by">
										<option value=""></option>
										<option value="added_at">Added at (earliest first)</option>
										<option value="!added_at">Added at (latest first)</option>
										<option value="modified_at">Modified at (earliest first)</option>
										<option value="!modified_at">Modified at (latest first)</option>
										<option value="size">Size (smallest first)</option>
										<option value="!size">Size (largest first)</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="search-form-advanced" style="display: none">
				<div class="columns">
					<div class="column">
						<div class="field">
							<label class="label">Publicity</label>
							<div class="control">
								<label class="radio">
									<input class="js-omit-empty" type="radio" name="public" value="" checked />
									<i>No Choice</i>
								</label>
								<label class="radio">
									<input type="radio" name="public" value="true" />
									Only public objects
								</label>
								<label class="radio">
									<input type="radio" name="public" value="false" />
									Only private objects
								</label>
							</div>
						</div>
					</div>

					<div class="column">
						<div class="field">
							<label class="label">Tagging</label>
							<div class="control">
								<label class="radio">
									<input class="js-omit-empty" type="radio" name="tagging" value="" checked />
									<i>No Choice</i>
								</label>
								<label class="radio">
									<input type="radio" name="tagging" value="true" />
									Only tagged objects
								</label>
								<label class="radio">
									<input type="radio" name="tagging" value="false" />
									Only untagged objects
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>

<section class="section">
	<div class="container">
		<fragment-loader id="search-results" href="" data-target-id="search-results-container"></fragment-loader>
	</div>
</section>

{{ template "footer.html" string_slice "/static/js/search_form.js" "/static/js/components/fragment_loader.js" }}
