<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Gallery | Login</title>

	<link rel="shortcut icon" href="{{ path "/static/favicon.ico" }}?V={{ V }}">
	<link rel="stylesheet" href="{{ path "/static/bulma/0.9.2/bulma.min.css" }}?V={{ V }}">
	<link rel="stylesheet" href="{{ path "/static/fa/5.15.3/css/all.min.css" }}?V={{ V }}">
</head>
<body>

<section class="section">
	<div class="container">

		<div class="columns is-centered">
			<div class="column is-two-thirds">
				<div class="notification is-primary has-text-centered is-light">
					<h1 class="title">Login Required</h1>
				</div>

				{{ with .Errors }}
				<div class="notification is-danger is-light">
					<div class="list">
						{{ range . }}
						<div class="list-item">{{ . }}</div>
						{{ end }}
					</div>
				</div>
				{{ end }}

				<form method="post" action="{{ path "/login" }}">
					<input type="hidden" name="redirect" value="{{ .RequestURI }}" />

					<div class="field">
						<label class="label">Username</label>
						<div class="control has-icons-left">
							<input class="input is-primary" type="text" name="username" autocomplete="username" maxlength="128" required />
							<span class="icon is-small is-left">
								<i class="fas fa-user"></i>
							</span>
						</div>
					</div>

					<div class="field">
						<label class="label">Password</label>
						<div class="control has-icons-left">
							<input class="input is-primary" type="password" name="password" autocomplete="current-password" maxlength="64" required />
							<span class="icon is-small is-left">
								<i class="fas fa-key"></i>
							</span>
						</div>
					</div>

					<div class="field">
						<div class="control">
							<button class="button is-primary" type="submit">Submit</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</section>

</body>
</html>
