<div id="remove-master-password-form-container">
	<div class="notification is-light is-warning">
		<p>This operation will permanently remove the master password labeled <strong>{{.MasterPassword.Label}}</strong>.</p>
		<p>Type <strong>remove</strong> in the below dialog to confirm.</p>
	</div>
	<form class="box js-modal-form" action="{{.Request.URL.RequestURI}}">
		<input type="hidden" name="csrf" value="{{csrf . (path .Request.URL.Path) (minutes 2)}}" />
		<div class="field has-addons">
			<div class="control">
				<input class="input" type="text" name="confirmation" placeholder="remove" autocomplete="off" required/>
			</div>
			<div class="control">
				<button type="submit" class="button is-danger">Submit</button>
			</div>
		</div>
	</form>
</div>
