<div id="add-master-password-form-container">
	<form class="box js-add-master-password-form" action="{{.Request.URL.RequestURI}}">
		<input type="hidden" name="csrf" value="{{csrf . (path .Request.URL.Path) (minutes 5)}}" />

		<div class="field">
			<label class="label">Label</label>
			<div class="control has-icons-left">
				<input class="input" type="text" name="label" autocomplete="off" maxlength="32" placeholder="A short description" required />
				<span class="icon is-small is-left">
					<i class="fas fa-tag"></i>
				</span>
			</div>
			<p id="help_label" class="help is-danger"></p>
		</div>

		<div class="field">
			<label class="label">Password</label>
			<div class="control has-icons-left">
				<input class="input" type="password" name="password_1" autocomplete="new-password" maxlength="64" required />
				<span class="icon is-small is-left">
					<i class="fas fa-key"></i>
				</span>
			</div>
			<p id="help_password_1" class="help is-danger"></p>
		</div>
		<progress id="progress_password_1" class="progress" value="0" max="100"></progress>

		<div class="field">
			<label class="label">Password again</label>
			<div class="control has-icons-left">
				<input class="input" type="password" name="password_2" autocomplete="new-password" maxlength="64" required />
				<span class="icon is-small is-left">
					<i class="fas fa-key"></i>
				</span>
			</div>
			<p id="help_password_2" class="help is-danger"></p>
		</div>
		<progress id="progress_password_2" class="progress" value="0" max="100"></progress>

		<div class="field">
			<div class="control">
				<button class="button is-primary" type="submit" disabled>Submit</button>
			</div>
		</div>
	</form>
</div>
