{{$p := .}}
{{$obj := .Object}}

{{with .Object}}
<div id="object-detail-container">
	<div class="card">
		<header class="card-header">
			<p class="card-header-title">{{.Basename}}</p>
			{{if .Public}}
			<a class="card-header-icon js-post-link" href="{{concat "/objects/" .HexSHA1 "/unpublish" | path}}" data-form="csrf={{csrf $p (concat "/objects/" .HexSHA1 "/unpublish" | path) (minutes 15)}}" data-next="{{ "{\"Reload\": true}" }}">
				<span class="icon has-text-success">
					<i class="fas fa-eye"></i>
				</span>
			</a>
			{{else}}
			<a class="card-header-icon js-post-link" href="{{concat "/objects/" .HexSHA1 "/publish" | path}}" data-form="csrf={{csrf $p (concat "/objects/" .HexSHA1 "/publish" | path) (minutes 15)}}" data-next="{{ "{\"Reload\": true}" }}">
				<span class="icon has-text-info">
					<i class="fas fa-eye-slash"></i>
				</span>
			</a>
			{{end}}
			<a class="card-header-icon" href="{{concat "/objects/" .HexSHA1 | path}}?download=true">
				<span class="icon">
					<i class="fas fa-cloud-download-alt"></i>
				</span>
			</a>
		</header>

		{{if eq .ContentType "image"}}
		<div class="card-image">
			<figure class="image">
				<img src="{{concat "/objects/" .HexSHA1 | path}}" alt="{{.Basename}}">
			</figure>
		</div>
		{{end}}

		<div class="card-content">
			{{if or (eq .ContentType "video") (eq .ContentType "audio")}}
			<div class="box has-text-centered">
				{{if eq .ContentType "video"}}
				<video
					src="{{concat "/objects/" .HexSHA1 | path}}"
					controls
					preload="metadata">
				</video>
				{{else if eq .ContentType "audio"}}
				<audio
					src="{{concat "/objects/" .HexSHA1 | path}}"
					controls
					preload="metadata">
				</audio>
				{{end}}
			</div>
			{{end}}

			<div class="content">
				<table class="table">
					<tbody>
						<tr>
							<th>Content Type</th>
							<td>
								<span class="icon-text">
									<span class="icon">
										<i class="{{with fa_content_type .ContentType}}{{.}}{{else}}fas fa-question{{end}}"></i>
									</span>
									<span>{{.ContentType}}/{{.ContentSubtype}}</span>
								</span>
							</td>
						</tr>
						<tr>
							<th>Size</th>
							<td>{{human .Size}}</td>
						</tr>
						<tr>
							<th>Last Modified</th>
							<td>{{datetime .ModifiedAt}}</td>
						</tr>
						<tr>
							<th>Added At</th>
							<td>{{datetime .AddedAt}}</td>
						</tr>
					</tbody>
				</table>
			</div>

			{{with user_by_id .Owner}}
			<div class="media">
				<div class="media-left">
					<figure class="image is-64x64">
						<img src="{{ gravatar .Username }}" alt="{{.DisplayName}}">
					</figure>
				</div>
				<div class="media-content">
					<p class="title is-4">Owned By</p>
					<p class="subtitle is-6">
						<a href="{{ concat "/users/" .ExtID.String "/profile" | path }}">{{.DisplayName}}</a>
					</p>
				</div>
			</div>
			{{end}}

			{{with .Tags}}
			<div class="tags">
				{{range .}}
				<a class="tag is-link is-light js-modal-link" href="{{concat "/objects/" $obj.HexSHA1 "/tags" | path}}?fragment=true&next=reload" data-target-id="tags-form-container">{{.}}</a>
				{{end}}
			</div>
			{{else}}
			<a class="js-modal-link" href="{{concat "/objects/" $obj.HexSHA1 "/tags" | path}}?fragment=true&next=reload" data-target-id="tags-form-container"><i>Untagged</i></a>
			{{end}}
		</div>
	</div>
</div>
{{end}}
