<div id="tags-form-container">
	<form class="js-modal-form" action="{{.Request.URL.RequestURI}}">
		<input type="hidden" name="csrf" value="{{csrf . (path .Request.URL.Path) (minutes 5)}}" />
		<div class="field has-addons has-addons-centered">
			<p class="control is-expanded">
				<input
					class="input js-autofocus"
					type="text"
					name="tags"
					placeholder="Tags separated by space"
					autocomplete="off"
					value="{{join .Object.Tags " "}}" />
			</p>
			<p class="control">
				<button type="submit" class="button is-primary">Submit</button>
			</p>
		</div>
	</form>
</div>
