{{$p := .}}

<nav class="pagination">
	{{with $p.Prev}}
	<a class="pagination-previous" href="{{($p.Link .Offset).RequestURI}}">Previous</a>
	{{else}}
	<a class="pagination-previous" disabled>Previous</a>
	{{end}}

	{{with $p.Next}}
	<a class="pagination-next" href="{{($p.Link .Offset).RequestURI}}">Next</a>
	{{else}}
	<a class="pagination-next" disabled>Next</a>
	{{end}}

	<ul class="pagination-list">
		{{range $p.Items}}
		<li>
			{{if .IsDivider}}
			<span class="pagination-ellipsis">&hellip;</span>
			{{else}}
			<a class="pagination-link {{if .IsCurrent}}is-current{{end}}" href="{{($p.Link .Offset).RequestURI}}">{{.Text}}</a>
			{{end}}
		</li>
		{{end}}
	</ul>
</nav>

