<nav class="pagination">
	{{with .Prev}}
	<a class="pagination-previous js-pagination-link" data-offset="{{.Offset}}">Previous</a>
	{{else}}
	<a class="pagination-previous js-pagination-link" disabled>Previous</a>
	{{end}}

	{{with .Next}}
	<a class="pagination-next js-pagination-link" data-offset="{{.Offset}}">Next</a>
	{{else}}
	<a class="pagination-next js-pagination-link" disabled>Next</a>
	{{end}}

	<ul class="pagination-list">
		{{range .Items}}
		<li>
			{{if .IsDivider}}
			<span class="pagination-ellipsis">&hellip;</span>
			{{else}}
			<a class="pagination-link js-pagination-link {{if .IsCurrent}}is-current{{end}}" data-offset="{{.Offset}}">{{.Text}}</a>
			{{end}}
		</li>
		{{end}}
	</ul>
</nav>
