{{ $p := . }}

<div class="columns is-multiline is-mobile">
	{{range $index, $obj := $p.Objects}}
	<div class="column is-narrow">
		<a target="_blank" href="{{ ($p.ObjectBrowseLink $index).RequestURI }}">
			<figure class="image is-64x64">
				<img src="{{ concat "/thumbnails/64x64/" $obj.HexSHA1 | path }}" alt="{{$obj.Basename}}">
			</figure>
		</a>
	</div>
	{{end}}
</div>
