{{$p := .}}

<div class="columns is-multiline is-mobile">
	{{range $index, $obj := $p.Objects}}
	<div class="column is-one-third">
		<div class="card">
			<header class="card-header">
				<p class="card-header-title">{{$obj.Basename}}</p>
				{{if $obj.Public}}
				<a class="card-header-icon js-post-link" href="{{concat "/objects/" $obj.HexSHA1 "/unpublish" | path}}" data-form="csrf={{csrf $p (concat "/objects/" $obj.HexSHA1 "/unpublish" | path) (minutes 15)}}">
					<span class="icon has-text-success">
						<i class="fas fa-eye"></i>
					</span>
				</a>
				{{else}}
				<a class="card-header-icon js-post-link" href="{{concat "/objects/" $obj.HexSHA1 "/publish" | path}}" data-form="csrf={{csrf $p (concat "/objects/" $obj.HexSHA1 "/publish" | path) (minutes 15)}}">
					<span class="icon has-text-info">
						<i class="fas fa-eye-slash"></i>
					</span>
				</a>
				{{end}}
				<a class="card-header-icon" href="{{concat "/objects/" $obj.HexSHA1 | path}}?download=true">
					<span class="icon">
						<i class="fas fa-cloud-download-alt"></i>
					</span>
				</a>
			</header>

			<div class="card-image">
				<a target="_blank" href="{{ ($p.ObjectBrowseLink $index).RequestURI }}">
					<figure class="image is-1by1">
						<img src="{{ concat "/thumbnails/128x128/" $obj.HexSHA1 | path }}" alt="{{$obj.Basename}}">
					</figure>
				</a>
			</div>

			<div class="card-content">
				<div class="content">
					<table class="table">
						<tbody>
							<tr>
								<th>Content Type</th>
								<td>
									<span class="icon-text">
										<span class="icon">
											<i class="{{with fa_content_type $obj.ContentType}}{{.}}{{else}}fas fa-question{{end}}"></i>
										</span>
										<span>{{$obj.ContentType}}/{{$obj.ContentSubtype}}</span>
									</span>
								</td>
							</tr>
							<tr>
								<th>Size</th>
								<td>{{human $obj.Size}}</td>
							</tr>
							<tr>
								<th>Last Modified</th>
								<td>{{datetime $obj.ModifiedAt}}</td>
							</tr>
							<tr>
								<th>Added At</th>
								<td>{{datetime $obj.AddedAt}}</td>
							</tr>
						</tbody>
					</table>
				</div>

				{{with user_by_id $obj.Owner}}
				<div class="media">
					<div class="media-left">
						<figure class="image is-64x64">
							<img src="{{ gravatar .Username }}" alt="{{.DisplayName}}">
						</figure>
					</div>
					<div class="media-content">
						<p class="title is-6">
							<a href="{{ concat "/users/" .ExtID.String "/profile" | path }}">{{.DisplayName}}</a>
						</p>
					</div>
				</div>
				{{end}}

				{{with $obj.Tags}}
				<div class="tags">
					{{range .}}
					<a class="tag is-link is-light js-modal-link" href="{{concat "/objects/" $obj.HexSHA1 "/tags" | path}}?fragment=true&next=refresh" data-target-id="tags-form-container">{{.}}</a>
					{{end}}
				</div>
				{{else}}
				<a class="js-modal-link" href="{{concat "/objects/" $obj.HexSHA1 "/tags" | path}}?fragment=true&next=refresh" data-target-id="tags-form-container"><i>Untagged</i></a>
				{{end}}

			</div>
		</div>
	</div>
	{{ end }}
</div>
