<div id="search-results-container">
	<h3 class="title">Search Results</h3>
	<h3 class="subtitle">
		{{ if len .Objects }}
		Showing {{ len .Objects }} Out Of {{ .ObjectCount }}
		{{ else }}
		<i>No Results</i>
		{{ end }}
	</h3>

	{{ if .ObjectCount }}
	{{ template "pagination_js.html" pagination .Params.Count .Params.Offset .ObjectCount }}
	{{ end }}

	{{ if len .Objects }}

	{{ if eq .Display "small_icons" }}
	{{ template "search_small_icons.html" . }}
	{{ else if eq .Display "large_icons" }}
	{{ template "search_large_icons.html" . }}
	{{ else if eq .Display "large_cards" }}
	{{ template "search_large_cards.html" . }}
	{{ end }}

	{{ end }}

	{{ if .ObjectCount }}
	{{ template "pagination_js.html" pagination .Params.Count .Params.Offset .ObjectCount }}
	{{ end }}

</div>
