<div id="open-secret-form-container">
	<div class="notification is-light is-info">
		<p>Enter the master password labeled <strong>{{.MasterPassword.Label}}</strong></p>
	</div>
	<form class="box js-secret-form" action="{{.Request.URL.RequestURI}}">
		<input type="hidden" name="csrf" value="{{csrf . (path .Request.URL.Path) (minutes 5)}}" />
		<!-- browser password hint, not posted -->
		<input type="hidden" name="username" value="{{.MasterPassword.ExtID}}" />
		<div class="field has-addons">
			<div class="control">
				<input class="input js-autofocus" type="password" name="password" placeholder="{{.MasterPassword.Label}}" autocomplete="current-password" max-length="64" required/>
			</div>
			<div class="control">
				<button type="submit" class="button is-info">Submit</button>
			</div>
		</div>
	</form>
</div>
