<div id="secret-container">
	<article class="message">
		<div class="message-header">
			<p>{{.Secret.Label}}</p>
		</div>
		<div class="message-body">
			<pre>{{.Plaintext}}</pre>
		</div>
	</article>
</div>
