<div id="remove-secret-form-container">
	<div class="notification is-light is-warning">
		<p>This operation will permanently remove the secret labeled <strong>{{.Secret.Label}}</strong>.</p>
		<p>Type the master password labeled <strong>{{.MasterPassword.Label}}</strong> in the below dialog to confirm removal.</p>
	</div>
	<form class="box js-modal-form" action="{{.Request.URL.RequestURI}}">
		<input type="hidden" name="csrf" value="{{csrf . (path .Request.URL.Path) (minutes 2)}}" />
		<div class="field has-addons">
			<div class="control">
				<input class="input js-autofocus" type="password" name="password" placeholder="{{.MasterPassword.Label}}" autocomplete="current-password" max-length="64" required/>
			</div>
			<div class="control">
				<button type="submit" class="button is-danger">Submit</button>
			</div>
		</div>
	</form>
</div>
