<div id="secret-container">
	<form class="box js-modal-form" action="{{concat "/secrets/" .Secret.ExtID.String "/modify" | path}}">
		<input type="hidden" name="csrf" value="{{csrf . (concat "/secrets/" .Secret.ExtID.String "/modify" | path) (minutes 5)}}" />

		<div class="field">
			<label class="label">Master Password</label>
			<div class="control has-icons-left">
				<input class="input" type="password" name="password" autocomplete="current-password" maxlength="64" placeholder="{{.MasterPassword.Label}}" required />
				<span class="icon is-small is-left">
					<i class="fas fa-key"></i>
				</span>
			</div>
		</div>

		<div class="field">
			<label class="label">Label</label>
			<div class="control has-icons-left">
				<input class="input is-primary" type="text" name="label" value="{{.Secret.Label}}" autocomplete="off" maxlength="128" placeholder="A short description" required />
				<span class="icon is-small is-left">
					<i class="fas fa-tag"></i>
				</span>
			</div>
		</div>

		<div class="field">
			<label class="label">The Secret</label>
			<div class="control">
				<textarea class="textarea monospace is-primary" name="secret" rows="8" placeholder="Secret text goes here..." required>{{.Plaintext}}</textarea>
			</div>
		</div>

		<div class="field">
			<div class="control">
				<button class="button is-primary" type="submit">Submit</button>
			</div>
		</div>
	</form>
</div>
