<div id="change-secret-master-password-form-container">
	<form class="box js-modal-form" action="{{.Request.URL.RequestURI}}">
		<input type="hidden" name="csrf" value="{{csrf . (path .Request.URL.Path) (minutes 5)}}" />

		<div class="field">
			<label class="label">Current Master Password</label>
			<div class="control has-icons-left">
				<input class="input" type="password" name="from_password" autocomplete="current-password" maxlength="64" placeholder="{{.MasterPassword.Label}}" required />
				<span class="icon is-small is-left">
					<i class="fas fa-key"></i>
				</span>
			</div>
		</div>

		<div class="field">
			<label class="label">Select the new Master Password</label>
			<div class="control">
				<div class="select is-primary is-rounded">
					<select name="to_password_id" required>
						{{range .MasterPasswords}}
						<option value="{{.ExtID}}">{{.Label}}</option>
						{{end}}
					</select>
				</div>
			</div>
		</div>

		<div class="field">
			<label class="label">New Master Password</label>
			<div class="control has-icons-left">
				<input class="input" type="password" name="to_password" autocomplete="current-password" maxlength="64" placeholder="Write the selected master password here..." required />
				<span class="icon is-small is-left">
					<i class="fas fa-key"></i>
				</span>
			</div>
		</div>

		<div class="field">
			<div class="control">
				<button class="button is-primary" type="submit">Submit</button>
			</div>
		</div>
	</form>
</div>
