{{ template "header.html" . }}

{{$p := .}}

<section class="section">
	<div class="container">
		<nav class="level">
			<!-- left -->
			<div class="level-left">
				<div class="level-item">
					<p class="subtitle">
						{{with len .MasterPasswords}}
						{{.}} Master Passwords
						{{else}}
						<i>No Master Passwords</i>
						{{end}}
					</p>
				</div>
			</div>

			<!-- right -->
			<div class="level-right">
				<p class="level-item">
				<a class="button is-primary js-modal-link" href="{{path "/addmasterpassword"}}" data-target-id="add-master-password-form-container">Add Master Password</a>
				</p>
			</div>
		</nav>

		{{with .MasterPasswords}}
		<table class="table is-fullwidth">
			<tbody>
				{{range .}}
				<tr>
					<th>{{.Label}}</th>
					<td>
						{{with index $p.SecretCountByMasterPasswordID .ID}}
						{{.}} Secrets
						{{else}}
						<i>No Secrets</i>
						{{end}}
					</td>
					<td>
						{{if not (index $p.SecretCountByMasterPasswordID .ID)}}
						<a class="button is-small is-danger js-modal-link" href="{{concat "/masterpasswords/" .ExtID.String "/remove" | path}}?next=reload" data-target-id="remove-master-password-form-container">Remove</a>
						{{end}}
					</td>
				</tr>
				{{end}}
			</tbody>
		</table>
		{{end}}
	</div>
</section>

<section class="section">
	<div class="container">
		<nav class="level">
			<!-- left -->
			<div class="level-left">
				<div class="level-item">
					<p class="subtitle">
						{{with len .Secrets}}
						{{.}} Secrets
						{{else}}
						<i>No Secrets</i>
						{{end}}
					</p>
				</div>
				{{if gt (len .Secrets) 5}}
				<div class="level-item">
					<form method="get" action="{{.Request.URL.Path}}">
						<div class="field has-addons">
							<div class="control has-icons-left">
								<input class="input is-rounded is-small js-autofocus" type="text" name="search" value="{{.Search}}" placeholder="Filter by label" autocomplete="off" maxlength="128" />
								<span class="icon is-small is-left">
									<i class="fas fa-search"></i>
								</span>
							</div>
							<div class="control">
								<button type="submit" class="button is-primary is-small">Submit</button>
							</div>
						</div>
					</form>
				</div>
				{{end}}
			</div>

			<!-- right -->
			<div class="level-right">
				<p class="level-item">
					<a class="button is-primary js-modal-link" href="{{path "/addsecret"}}" data-target-id="add-secret-form-container">Add Secret</a>
				</p>
			</div>
		</nav>


		{{with .FilteredSecrets}}
		<table class="table is-fullwidth">
			<tbody>
				<tr>
					<th>Secret</th>
					<th>Master Password</th>
					<th></th>
				</tr>
				{{range .}}
				<tr>
					<td>
						<a class="js-modal-link" href="{{concat "/secrets/" .ExtID.String | path}}?tpl=view" data-target-id="open-secret-form-container">{{.Label}}</a>
					</td>
					<td>
						{{with index $p.MasterPasswords.IDMap .MasterPasswordID}}
						{{.Label}}
						{{end}}
					</td>
					<td>
						<div class="dropdown js-dropdown is-right">
							<div class="dropdown-trigger">
								<button class="button">
									<span class="icon is-small">
										<i class="fas fa-angle-down"></i>
									</span>
								</button>
							</div>
							<div class="dropdown-menu" role="menu">
								<div class="dropdown-content">
									<a class="dropdown-item js-modal-link" href="{{concat "/secrets/" .ExtID.String | path}}?tpl=modify" data-target-id="open-secret-form-container">
										<span class="icon is-small">
											<i class="fas fa-edit"></i>
										</span>
										Modify
									</a>
									{{if gt (len $p.MasterPasswords) 1}}
									<a class="dropdown-item js-modal-link" href="{{concat "/secrets/" .ExtID.String "/changemasterpassword" | path}}" data-target-id="change-secret-master-password-form-container">
										<span class="icon is-small">
											<i class="fas fa-key"></i>
										</span>
										Change master password
									</a>
									{{end}}
									<hr class="dropdown-divider">
									<a class="dropdown-item js-modal-link" href="{{concat "/secrets/" .ExtID.String "/remove" | path}}" data-target-id="remove-secret-form-container">
										<span class="icon is-small">
											<i class="fas fa-times"></i>
										</span>
										Remove
									</a>
								</div>
							</div>
						</div>
					</td>
				</tr>
				{{end}}
			</tbody>
		</table>
		{{end}}
	</div>
</section>

{{ template "footer.html" string_slice "/static/zxcvbn/4.4.2/zxcvbn.min.js" "/static/js/add_master_password_form.js" "/static/js/secret.js"}}
