<div id="user-modify-password-form-container">
	<form class="box js-password-form" action="{{.Request.URL.RequestURI}}">
		<input type="hidden" name="csrf" value="{{csrf . (path .Request.URL.Path) (minutes 5)}}" />

		<div class="field">
			<label class="label">Current password</label>
			<div class="control has-icons-left">
				<input class="input" type="password" name="current_password" autocomplete="current-password" maxlength="64" required />
				<span class="icon is-small is-left">
					<i class="fas fa-key"></i>
				</span>
			</div>
			<p id="help_current_password" class="help is-danger"></p>
		</div>

		<div class="field">
			<label class="label">New password</label>
			<div class="control has-icons-left">
				<input class="input" type="password" name="new_password_1" autocomplete="new-password" maxlength="64" required />
				<span class="icon is-small is-left">
					<i class="fas fa-key"></i>
				</span>
			</div>
			<p id="help_new_password_1" class="help is-danger"></p>
		</div>
		<progress id="progress_new_password_1" class="progress" value="0" max="100"></progress>

		<div class="field">
			<label class="label">New password again</label>
			<div class="control has-icons-left">
				<input class="input" type="password" name="new_password_2" autocomplete="new-password" maxlength="64" required />
				<span class="icon is-small is-left">
					<i class="fas fa-key"></i>
				</span>
			</div>
			<p id="help_new_password_2" class="help is-danger"></p>
		</div>
		<progress id="progress_new_password_2" class="progress" value="0" max="100"></progress>

		<div class="field">
			<div class="control">
				<button class="button is-primary" type="submit" disabled>Submit</button>
			</div>
		</div>
	</form>
</div>
