<div id="user-modify-form-container">
	<form class="box js-modal-form" action="{{.Request.URL.RequestURI}}">
		<input type="hidden" name="csrf" value="{{csrf . (path .Request.URL.Path) (minutes 5)}}" />
		<div class="field">
			<label class="label">Display name</label>
			<div class="control">
				<input class="input" type="text" name="display_name" placeholder="Display name" autocomplete="off" maxlength="64" value="{{.ModifyUser.DisplayName}}"/>
			</div>
		</div>

		<button type="submit" class="button is-primary">Submit</button>
	</form>
</div>
