{{ template "header.html" . }}

<section class="section">
	<div class="container">
		<h3 class="title">{{.ProfileUser.DisplayName}}</h3>
		<h3 class="subtitle">{{.ProfileUser.Username}}</h3>

		<table class="table is-fullwidth">
			<tbody>
				<tr>
					<th>Username</th>
					<td>{{.ProfileUser.Username}}</td>
					<td></td>
				</tr>
				<tr>
					<th>Display name</th>
					<td>{{.ProfileUser.DisplayName}}</td>
					<td>
						<a class="button is-primary is-small js-modal-link" href="{{concat "/users/" .ProfileUser.ExtID.String "/modify" | path}}?next=reload" data-target-id="user-modify-form-container">Modify</a>
					</td>
				</tr>
				<tr>
					<th>Gravatar icon</th>
					<td>
						<figure class="image is-64x64">
							<img src="{{ gravatar .ProfileUser.Username }}" alt="{{.ProfileUser.DisplayName}}">
						</figure>
					</td>
					<td>
						<a target="_blank" href="https://gravatar.com">Modify</a>
					</td>
				</tr>
				<tr>
					<th>Password</th>
					<td><i>Redacted</i></td>
					<td>
						<a class="button is-primary is-small js-modal-link" href="{{concat "/users/" .ProfileUser.ExtID.String "/modifypassword" | path}}" data-target-id="user-modify-password-form-container">Modify</a>
					</td>
				</tr>
				<tr>
					<th>Total object count</th>
					<td>{{.ProfileUser.ObjectCount}} out of {{.ProfileUser.QuotaObjectCount}}</td>
					<td></td>
				</tr>
				<tr>
					<th>Total object bytes</th>
					<td>{{human .ProfileUser.ObjectBytes}} out of {{human .ProfileUser.QuotaObjectBytes}}</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</section>

{{ template "footer.html" string_slice "/static/zxcvbn/4.4.2/zxcvbn.min.js" "/static/js/password_form.js"}}
